<div class="wrapper">
 <div class="second_full_middle_img">
{{ content.field_second_full_middle_image }}
      </div>

<div class="second-ful-mid-upper-title">
  <div class="col-md-11 second-ful-mid-upper-title1">
   {{ content.field_second_full_middle_title }} 
       </div>

       <div class="second-ful-mid-upper-title2">
   {{ content.field_second_full_middle_title2 }} 
            </div>
</div>
</div>