
<div class="second-last-footer-wrapper">

<div class="second-last-footer-image img">

{{ content.field_second_last_footer_image }}
     </div>
     <div class="second-last-footer-up-text">
       <h1>{{ content.field_second_last_footer_title }} </h1>

<div class="col-md-8 second-last-footer-body">
{{ content.field_second_last_footer_body }}
     </div>
     
    <div class="col-md-8 second-last-footer-form">
 {{ content.field_third_full_middle_form }}
     
               </div>
</div>
</div>