<div class="third-wrapper">
  <div class="third-full-middle-img img">
{{ content.field_third_full_middle_image }}
  </div>
<div class="col-md-12 third-upper">
     
     
 <div class="col-md-8 third-center">
  {{ content.field_third_full_middle_descript }} 
</div>
  
     
     
      <div class="col-md-8 third-full-middle-icon">
   {{ content.field_third_full_middle_icon }} 
  </div>
      
 
   <div class="third-full-middle-title">
 
  {{ content.field_third_full_middle_title }} 
        </div>
     </div>
     </div>