.two_col_first_img img{
  margin-left: 20px;
  width: 98%;
  border-top-left-radius: 8px;
    @include breakpoint(desktop){
   width: 98%;
      height: 270px;
      margin-left: 3px;
      
  }
  
  @include breakpoint(laptop){
  width: 98%;
       height:auto;
//    margin: auto;
    margin-left: 5px;
  }
 
  
    @media only screen and(width: 768px){
  width: 100%;
        height: 250px;
//    margin-top: 100;
      bottom: 247px;
    margin-left: 17px;
  }
    @media screen 
  and (min-width: 481px) 
  and (max-width: 767px){
    max-width: 70%;
    height: auto;
//    margin-left: 18px;
    
}
  
  @include breakpoint(tablet){
  width: 90%;
       height: 200%;
  }
  
  @include breakpoint(mobile){
  width:90%;
     height: 200px;
  }
  
}

.two-col-uptext{
    margin-left: -8px;
  background-color: #7f7770;
  position: relative;
  max-width: 46.5%;
  border-top-right-radius: 8px;
 
  @include breakpoint(desktop){
      max-width: 46%;
//      height: 270px;
     margin-top: 0px;
    margin-left: -23px;
  }
  @include breakpoint(laptop){
     max-width: 66.5%;
        height: 250px;
//    margin-top: 0;
    margin-left: 19px;
      
//       height: auto;
//    margin-left: 50px;
 
  }
  
    @media only screen and(width: 768px){
  max-width: 44%;
        height: 250px;
//    margin-top: 100;
      bottom: 250px;
    margin-left: 384px;
  }
  
//     @media screen 
//  and (min-width: 481px) 
//  and (max-width: 768px){
//    max-width: 66%;
//    margin-left: 0px;
//      height: auto;
//  margin-left: 9px;
//    
//}
  


  
  
  
  
//   @media only screen  
//  and (min-width: 768px) 
//  and (max-width: 770px){
//    max-width: 90%;
//     background-color: #7f7770;
////    margin-left: 18px;
////    margin-top: 0px;
//    
//}
  

  @media screen 
  and (min-width: 391px) 
  and (max-width: 480px){
    max-width: 83.6%;
    margin-left: 8px;
    
}
  
  @include breakpoint(tablet){
      width: 93%;
       height: 190px;
    margin-top: 0px;
     margin-left: 19px;
  }
  @include breakpoint(mobile){
    height: 200px;
    font-size: 10px;
    margin-left: 17px;
    max-width: 82.1%;
  }
  
  .two-col-title{
    font-size: 40px;
    color: white;
    position: absolute;
    margin-top: 90px;
    margin-left: 30px;
       @include breakpoint(desktop){
         font-size: 20px;
    margin-top: 35px;
        
    }
  @include breakpoint(laptop){
    font-size: 15px;
    margin-top: 35px;
    }
    
     
  @media screen 
  and (min-width: 391px) 
  and (max-width: 481px){
    font-size: px;
    margin-top: 30px;
}
    
  @include breakpoint(tablet){
    font-size: 13px;
    margin-top: 25px;
    margin-left: -12px;
    }
  @include breakpoint(mobile){
     font-size: 18px;
     margin-top: 15px;
    }
   
  }
  .two-col-body{
    position: absolute;
    margin-top: 220px;
    margin-left: 30px;
    color: white;
       @include breakpoint(desktop){
         font-size: 10px;
    margin-top: 100px;
    margin-left: 33px;}
  @include breakpoint(laptop){
    font-size: 13px;
    margin-top: 78px;
    margin-left: 30px;
    width: 70%;
    }
    
     
//  @media screen 
//  and (min-width: 391px) 
//  and (max-width: 480px){
//}
  @include breakpoint(tablet){
     font-size: 10px;
    margin-top: 46px;
    margin-left: -13px;
    }
  @include breakpoint(mobile){
    font-size: 11px;
    margin-top: 71px;
    margin-left: -13px;
    
    }

  }
  .two-col-link{
    position: absolute;
       margin-top: 160px;
    margin-left: 30px;
   border-radius: 100px;
       background: #e2a355;
    width: 70%;
       @include breakpoint(desktop){
         margin-top: 97px;
    margin-left: 24px;
    width: 60%;
    }
  @include breakpoint(laptop){
    margin-top: 104px;
    margin-left: 24px;
    width: 58%;
    }
     
  @media screen 
  and (min-width: 481px) 
  and (max-width: 640px){
    width: 50%;
//    margin-top: 110px;
    
    
}
  @include breakpoint(tablet){
     margin-top: 57px;
    margin-left: 24px;
    width: 45%;
    }
  @include breakpoint(mobile){
//    font-size: 7px;
    margin-top: 88px;
    margin-left: 4px;
    width: 55%;
    }
   a:hover {
  
     text-decoration-line: none;
}
    & a{
       
      color: white;
      font-size: 16px;
      text-align: center;
      margin-left: 25px;
       @include breakpoint(desktop){
         font-size: 7px;
         padding: 0px;
    margin-top: 37px;
    margin-left: 14px;
//         width: 60%;
      }
  @include breakpoint(laptop){
    font-size: 8px;
    margin-top: 87px;
    margin-left: 14px;
    }
      
       
  @media screen 
  and (min-width: 391px) 
  and (max-width: 480px){
}
      
  @include breakpoint(tablet){
    font-size: 7px;
    margin-top: 13px;
    margin-left: 10px;
      }
  @include breakpoint(mobile){
    font-size: 7px;
    margin-top: 16px;
    margin-left: 13px;
      }

    }
  }
  
  
  }
  
  /*************************2ND PART AREA******************************/

.two_col_first_img2 img{
  margin-left: -15px;
  width: 100%;
 border-bottom-right-radius: 8px;

  @include breakpoint(desktop){
//     margin-top: 98px;
     width:100%;
     margin-left: -14px;
    height: 320px;
  
      }  
      
    @media only screen and(width: 768px){
  width: 100%;
        height: 250px;
    margin-top: -280px;
//      bottom: 247px;
    margin-left: -15px;
  }
    @media screen 
  and (min-width: 391px) 
  and (max-width: 480px){
    max-width: 90%;
    margin-left: 20px;
    
}
  
    @media screen 
  and (min-width: 481px) 
  and (max-width: 767px){
    max-width: 74%;
    height: auto;
//    margin-left: 18px;
    
}
  
//   @include breakpoint(laptop){
// max-width: 75%;
//       height: 240px;
//     
//     //     margin-top: 0px;
////     width:100%;
////     height: 250px;
////     margin-left: -14px;
//      }  
  
  
  
   @include breakpoint(tablet){
     margin-top: 0px;
     width:100%;
     height: 250px;
     margin-left: -24px;
      }  
  
  
   @include breakpoint(mobile){
     margin-top: 0px;
     max-width: 100%;
     height: 220px;
     margin-left: -10px;
      }
  
}


.two-col-uptext2{
  background-color: #deb37e;
  position: relative;
  color: white;
  margin-left: 20px;
  max-width: 47.7%;
  border-bottom-left-radius: 8px;

//  margin-left: 14px;
    
  @include breakpoint(desktop){
     margin-top: 0px;
     max-width: 48%;
     margin-left: 1px;

      }  
  
  @media only screen and(width: 768px){
  max-width: 46%;
        height: 250px;
//    margin-top: -284px;
      bottom: 250px;
    margin-left: 19px;
  } 
   @include breakpoint(laptop){
     margin-top: 0px;
     max-width:70%;
     height: 250px;
     margin-left: 0px;
      } 
    @media screen 
  and (min-width: 481px) 
  and (max-width: 767px){
    max-width: 70.7%;
    margin-top: 0px;
    margin-left: 0px;
    
}
  
  
  @media screen 
  and (min-width: 391px) 
  and (max-width: 480px){
    max-width: 90.6%;
    margin-left: 19px;
    
}
  
  
   @include breakpoint(tablet){
     margin-top: 0px;
     width:100%;
     height: 250px;
     margin-left: -9px;
      }  
  
  
  @include breakpoint(mobile){
    height: 200px;
    max-width: 90.4%;
    margin-left: 3px;
    font-size: 10px;
  }
  
  
  .two-col-title2{
    position: absolute;
    margin-top: 90px;
    margin-left: 30px;
    font-size: 40px;
    
    @include breakpoint(desktop){
     margin-top: 28px;
     width:100%;
     margin-left: 0px;
       font-size: 20px;
      }  
    
    
     @include breakpoint(laptop){
     margin-top: 20px;
     width:75%;
     height: 250px;
     margin-left: 0px;
       font-size: 18px;
      }  
  
    @include breakpoint(mobile){
    margin-top: 10px;
    margin-left:5px;
    font-size: 17px;
      
  }
  
     @include breakpoint(tablet){
     margin-top: 20px;
//     width:109%;
     height: 250px;
     margin-left: -9px;
      font-size: 18px; 
      }  
  
   
  }
  .two-col-body2{
    position: absolute;
    margin-top: 220px;
    margin-left: 30px;
    
       @include breakpoint(desktop){
     margin-top: 110px;
     width:95%;
     margin-left: 0px;
       font-size: 12px;
      }  
    
    
    @include breakpoint(laptop){
     margin-top: 98px;
     width:95%;
     margin-left: 0px;
       font-size: 15px;
      }  
    
    @include breakpoint(tablet){
     margin-top: 50px;
//     width:109%;
     height: 250px;
     margin-left: -9px;
      font-size: 14px; 
      }  
      @include breakpoint(mobile){
    margin-top: 75px;
    margin-left:0px;
    font-size: 12px;
  }

  }
  .two-col-link2{
  position: absolute;
    background: #e2a355;
       margin-top: 160px;
    margin-left: 20px;
    border-radius: 100px;
    width: 70%;
    
      @include breakpoint(desktop){
     margin-top: 115px;
     width:60%;
     margin-left: 0px;
  
      }  
 
      @media screen 
  and (min-width: 481px) 
  and (max-width: 768px){
    max-width: 60%;
//    margin-left: 18px;
    
}
     @include breakpoint(laptop){
     margin-top: 108px;
     width:65%;
     margin-left: 0px;
       font-size: 18px;
      } 
    @include breakpoint(tablet){
     margin-top: 80px;
     width:50%;
     margin-left: -5px;
    
      } 
      @include breakpoint(mobile){
    margin-top: 85px;
    margin-left:3px;
    font-size: 12px;
        width: 50%;
  }
  
      a:hover {

     text-decoration-line: none;
}
    
    & a{
      color: white;
      font-size: 16px;
      top: 2px;
     text-align: center;
      margin-left: 25px;
        @include breakpoint(desktop){
//     margin-top: 128px;
//     width:95%;
     margin-left: 8px;
       font-size: 10px;
      }  
    
       @include breakpoint(laptop){
//     margin-top: 98px;
//     width:85%;
     margin-left: 8px;
       font-size: 8px;
      } 
    @include breakpoint(tablet){
     margin-top: 50px;
//     width:109%;
//     height: 250px;
     margin-left: 8px;
      font-size: 10px; 
      } 
        @include breakpoint(mobile){
    margin-top: 55px;
    margin-left:9px;
    font-size: 7px;
        
  }
    
    }
  }
  
  
  }
